#friends-display-link{
    text-align: center;
    width : 100%;
    display: block;   
    background-color: #fafafa;
    padding : 15px 0px;
    position: fixed;
    top:100px;
}
#friends-display-link i {
    color :rgba(0,0,0,0.2);
    padding-left: 10px;
}

.friends-screen {
    padding : 0px var(--horizontal-space);
}

.friends-screen__channel {
    position: relative;
    top : 180px;
}

