.user-component {
    justify-content: space-between;
    /* background-color: wheat; */
    margin-bottom: 10px;
}
.user-component,
.user-component__column:first-child {
    display: flex;
    align-items: center;
    position:relative;
    /* margin-top : 20px; */
    /* top: 80px; */
    z-index: -1;
    
} 

/* 확인용  */
.user-component__column:first-child{
    /* background-color: yellowgreen; */
}

.user-component__image {

    width: 70px;
    height: 70px;
    border-radius: 45%;
    margin-right: 20px;
    /* user-component__image를 레이어의 맨 뒤로 놓음 */
    z-index: -1;
}

.user-component__title {
    font-weight: 600;
    font-size: 22px;
}
.user-component__subtitle {
    display: flex;
    margin-top: 8px;
    color: var(--text-color__center);
    font-size: 17px;
    
}


.user-component__image--xl {
    width: 80px;
    height: 80px;
}

.user-component__image--sm{
    width: 60px;
    height : 60px;

}
.user-component__title--not-bold {
    font-weight: 400;
}

.user-component__column:last-child{
    color : var(--text-color__center);
    display: flex;
    flex-direction: column;
    align-items: flex-end ;
}
.user-component__time{
    margin-bottom : 10px;
    display: block;
}

